* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_103 {
  width: 100%;
  height: 2756px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_107 {
  width: 100%;
  height: 52px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 0px;
  overflow: hidden;
}
.v2_108 {
  width: 289px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 167px;
  left: 443px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v2_109 {
  width: 177px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 167px;
  left: 749px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2_114 {
  width: 163px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 167px;
  left: 269px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v2_115 {
  width: 399px;
  height: 131px;
  background: rgba(204,0,0,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
  overflow: hidden;
}
.v2_116 {
  width: 307px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 51px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v2_117 {
  width: 262px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 168px;
  left: 2px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v2_123 {
  width: 364px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2229px;
  left: 30px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_129 {
  width: 100%;
  height: 12px;
  background: url("../images/v2_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2198px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2_206 {
  width: 100%;
  height: 12px;
  background: url("../images/v2_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 4px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2_140 {
  width: 355px;
  color: rgba(138,134,134,1);
  position: absolute;
  top: 2280px;
  left: 30px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_141 {
  width: 100%;
  height: 54px;
  background: url("../images/v2_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2323px;
  left: 60px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_143 {
  width: 51px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_144 {
  width: 51px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 141px;
  border-radius: 50%;
}
.v2_145 {
  width: 52px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 281px;
  border-radius: 50%;
}
.v2_146 {
  width: 51px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 423px;
  border-radius: 50%;
}
.v2_147 {
  width: 52px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 563px;
  border-radius: 50%;
}
.v2_148 {
  width: 52px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 704px;
  border-radius: 50%;
}
.v2_149 {
  width: 51px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 845px;
  border-radius: 50%;
}
.v2_150 {
  width: 52px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 986px;
  border-radius: 50%;
}
.v2_151 {
  width: 51px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1127px;
  border-radius: 50%;
}
.v2_152 {
  width: 51px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1268px;
  border-radius: 50%;
}
.v2_204 {
  width: 100%;
  height: 324px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2432px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2_209 {
  width: 668px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 231px;
  left: 386px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 46px;
  opacity: 1;
  text-align: center;
}
.v2_210 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 324px;
  left: 27px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_211 {
  width: 645px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 550px;
  left: 27px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v2_215 {
  width: 645px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1549px;
  left: 51px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_212 {
  width: 645px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 550px;
  left: 749px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2_216 {
  width: 618px;
  height: 280px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 54px;
  overflow: hidden;
}
.v2_219 {
  width: 618px;
  height: 280px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1202px;
  left: 776px;
  overflow: hidden;
}
.v2_220 {
  width: 618px;
  height: 280px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1648px;
  left: 776px;
  overflow: hidden;
}
.v2_221 {
  width: 612px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 987px;
  left: 57px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: justified;
}
.v2_222 {
  width: 612px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 654px;
  left: 776px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: justified;
}
.v2_223 {
  width: 612px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1648px;
  left: 54px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: justified;
}
.v2_224 {
  width: 612px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1951px;
  left: 776px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: justified;
}
