:root {
  /* --bgcolor: #C7F9CC; */
  --bgcolor: #E1ECF3;
  --textcolor: black;
  --accentcolor: #57CC99;
  --bgaltcolor: #38A3A5;
  --lvl2color: white;
  --boldcolor: #22577A;
  --textsize: 1.3rem;
  --paddingsections: 20px;
}

* {
  box-sizing: border-box;
}
body {
  font-size: var(--textsize)!important;
  font-family: Montserrat!important;
  --bs-body-font-weight:500;
  --bs-body-color:black;
  margin:0px;
  transition: 0.3s ease;
}

hr{
  opacity:1!important;
}

h1{
  font-size: 2.1rem!important;
  font-weight: 700!important;
}
h3{
  font-size:2.5rem!important;
}

/* h1, h2, h3, h4, h5{
  font-weight: 600!important;
} */

@media (min-width: 768px) { 
  h1{
    font-size: 3rem!important;
  }
}

@media (min-width: 992px) { 
  h1{
    font-size: 4rem!important;
  }
}

._hero{
  /* background-image: url(./images/svg/topdark.svg); */
  background-color: var(--boldcolor);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:var(--paddingsections);
  padding-bottom: var(--paddingsections);
  color:var(--accentcolor);
}

._heroR{
  height: 300px;
  width: 100%;
  /* margin-left:20px!important; */
  /* margin: 20px 0px 20px 0px;  */
}
/* ._heroL{
  text-align: right;
} */
/* ._heroR{
  text-align: left;
} */

._sepB{
  background-image: url(./images/svg/styletop.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 0px;
}

._sepT{
  background-image: url(./images/svg/bottomstyle.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 0px;
}

._bg{
  background-color: var(--bgcolor);
  padding-top:var(--paddingsections);
  padding-bottom: var(--paddingsections);
}

._bg-alt{
  background-color: var(--bgaltcolor);
  padding-top:var(--paddingsections);
  padding-bottom: var(--paddingsections);
}

._heading{
  background-color: var(--boldcolor);
}

._nav{
  background-color: var(--boldcolor);
}

._nav-item{
  color: white!important;
}

._nav-item:hover{
  font-weight:bold;
}

._btnN{
  padding: 10px !important;
  font-size: 1rem!important;
  color: rgba(255,255,255,0.8)!important;
  background-color:var(--boldcolor)!important;
  border-color:var(--bgcolor)!important;
  font-weight:bold!important;
}

._btnN:hover{
  font-weight: bold!important;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.3);
  color: white!important;
}


._card-img{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

._rating-selected{
  background-color: black;
}

._passthrough {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 2px solid black;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}

._border-left{
  border-left:2px solid black;
}
._border-right{
  border-right:2px solid black;
}
._border-top{
  border-top:2px solid black;
}
._border-bottom{
  border-bottom:2px solid black;
}



._btn{
  font-size: var(--textsize)!important;
  --bs-btn-color: var(--boldcolor)!important;
  --bs-btn-bg:var(--bgcolor)!important;
  --bs-btn-font-weight:600!important;
  --bs-btn-border-width: 3px!important;
  --bs-btn-border-color: var(--boldcolor)!important;
  --bs-btn-hover-border-color: var(--boldcolor)!important;
  --bs-btn-hover-color:var(--bgcolor)!important;
  --bs-btn-hover-bg:var(--boldcolor)!important;
  --bs-btn-active-border-color: transparent!important;
}

.btn{
  --bs-btn-active-border-color: transparent!important;
}
._card-footer{
  background-color: var(--bgcolor)!important;
  font-weight: 400!important;
  color:var(--bgcolor)!important;
}

._card-footer > a{
  --bs-btn-color:var(--boldcolor);
  --bs-btn-font-weight: 400;
  --bs-btn-font-size: 1.2rem;
}

._card-footer:hover{
  background-color: var(--boldcolor)!important;
  color:var(--bgcolor)!important;
}
._card-footer:hover > a{
  --bs-btn-color:var(--bgcolor);
}

._card-img-top{
  height: 240px;
  object-fit: cover;
}

.card{
  --bs-card-bg:var(--bgcolor);
}

.card-title{
  color:var(--boldcolor)!important;
  text-weight:400!important;
}

.btnrating{
  --bs-btn-font-size:2rem!important;
  --bs-btn-color:var(--accentcolor)!important;
}
._title{
  font-weight: 600!important;
}